DatabaseManager/Connected Services/DBManagerServiceReference/DBManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IOAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="AnalogInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alarms" nillable="true" type="tns:ArrayOfAlarm" />
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogInput" nillable="true" type="tns:AnalogInput" />
  <xs:complexType name="InputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:InputDriver" />
          <xs:element minOccurs="0" name="ScanActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InputTag" nillable="true" type="tns:InputTag" />
  <xs:complexType name="InputDriver">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="InputDriver" nillable="true" type="tns:InputDriver" />
  <xs:complexType name="AnalogOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:float" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:float" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogOutput" nillable="true" type="tns:AnalogOutput" />
  <xs:complexType name="OutputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialValue" type="xs:float" />
          <xs:element minOccurs="0" name="Value" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputTag" nillable="true" type="tns:OutputTag" />
  <xs:complexType name="DigitalInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalInput" nillable="true" type="tns:DigitalInput" />
  <xs:complexType name="DigitalOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalOutput" nillable="true" type="tns:DigitalOutput" />
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="tns:AlarmPriority" />
      <xs:element minOccurs="0" name="Processed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HI" />
      <xs:enumeration value="MED" />
      <xs:enumeration value="LO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmPriority" nillable="true" type="tns:AlarmPriority" />
</xs:schema>